# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node
node_modules/
dist/
build/

# Env files (SECRETS!)
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/
venv/

# Database
*.sqlite
*.db

# Mac / Windows junk
.AppleDouble
.LSOverride
Desktop.ini

node_modules